* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fff;
  /* text-align: center; */
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-color: #004E7C;
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #4DA8DA;
  /* background-color: #DCE1E3; */
}

.nav {
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr;
  margin: 30px;
  align-items: center;
  border-bottom: #4DA8DA 2px solid;
}

.nav a {
  color: #000000;
}

.nav a:hover {
  cursor: pointer;
  color: #4DA8DA;
}

img.icon {
  width: 40px;
  height: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.main {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 25px;
  margin-top: 100px;
}

.instruments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.instrument {
  border: 1px solid #4DA8DA;
  border-radius: 1px;
  text-align: center;
  padding: 15px 5px;
}

.instrument img {
  height: 155px;
  width: 310px;
}

.instrument p {
  padding-top: 2px;
  padding-bottom: 2px;
}

#cart {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#cart h1 {
  color:#4DA8DA;
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  border: 1px solid #c0c0c0;
  border-radius: 1px;
  text-align: center;
  padding: 15px 5px;
}

.cart-image {
  width: 275px;
  height: 125px;
}

.total-cost {
  padding-top: 25px;
  padding-bottom: 2px;
  color: #4DA8DA
}

.checkoutForm {
  margin: 35px 25px;
  border-top: 1px solid #aaa;
  text-align: center;
  line-height: 1.7em;
}

.checkout-info {
  text-align: center;
  width: 100%;
}

@media (max-width: 800px) {
    .instruments {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .nav a {
      margin-left: 2rem;
    }
}

@media (max-width: 500px) {
  .instruments {
    display: grid;
    grid-template-columns: 1fr;
  }

  .nav{
    display: block;
    padding-bottom: .5rem;
  }

  .nav a {
    padding: 1.5rem;
    margin-bottom: 3px;
  }
}
