* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fff;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-color: #004E7C;
  margin-top: 5px;
  padding: 5px 10px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #4DA8DA;
  /* background-color: #DCE1E3; */
}